################################################################################
# nxTools - Pre Configuration
#
# Clean dZSbot bundle example. Edit paths and groups before production use.
################################################################################

[AREAS]
0DAY "C:/ioFTPD/FTP-ROOT-DIR/0DAY/"
APPS "C:/ioFTPD/FTP-ROOT-DIR/APPS/"
AUDIOBOOKS "C:/ioFTPD/FTP-ROOT-DIR/AUDIOBOOKS/"
EBOOKS "C:/ioFTPD/FTP-ROOT-DIR/EBOOKS/"
FLAC "C:/ioFTPD/FTP-ROOT-DIR/FLAC/"
GAMES "C:/ioFTPD/FTP-ROOT-DIR/GAMES/"
MOVIES "C:/ioFTPD/FTP-ROOT-DIR/MOVIES/"
MOVIE-1080P "C:/ioFTPD/FTP-ROOT-DIR/MOVIES/"
MOVIE-2160P "C:/ioFTPD/FTP-ROOT-DIR/UHD/"
MUSIC "C:/ioFTPD/FTP-ROOT-DIR/MUSIC/"
TV "C:/ioFTPD/FTP-ROOT-DIR/TV/"
TV-1080P "C:/ioFTPD/FTP-ROOT-DIR/TV/"
TV-2160P "C:/ioFTPD/FTP-ROOT-DIR/TV/"
TV-KIDS "C:/ioFTPD/FTP-ROOT-DIR/TV-KIDS/"
UHD "C:/ioFTPD/FTP-ROOT-DIR/UHD/"

[GROUPS]
0DAY "STAFF"
APPS "STAFF"
AUDIOBOOKS "STAFF"
EBOOKS "STAFF"
FLAC "STAFF"
GAMES "STAFF"
MOVIES "STAFF"
MOVIE-1080P "STAFF"
MOVIE-2160P "STAFF"
MUSIC "STAFF"
TV "STAFF"
TV-1080P "STAFF"
TV-2160P "STAFF"
TV-KIDS "STAFF"
UHD "STAFF"

[PATHS]
STAFF "/GROUPS/STAFF/" "/0DAY/" "/APPS/" "/AUDIOBOOKS/" "/EBOOKS/" "/FLAC/" "/GAMES/" "/MOVIES/" "/MUSIC/" "/TV/" "/TV-KIDS/" "/UHD/"
