################################################################################
# nxTools - Rules Configuration                                                #
################################################################################
#
# Format: <punishment>|<rule text>
#
# Description:
#  - The rules must be placed under the appropriate array name.
#  - The punishment and rule text must be separated by a "|" character.
#
[GENERAL]
allowed|SCENE releases, need to have sfv and nfo

[APPS]
allowed|FreeBSD, OpenBSD, MacOSX, Solaris, and Windows platforms are allowed.

[MOVIES]
allowed|SCENE/p2p releases

[TV]
allowed|SCENE/p2p releases

[MUSIC]
allowed|FLAC SCENE releases, need to have sfv and nfo
