################################################################################
# nxTools - Configuration                                                      #
################################################################################

#### Config Notes ##########################################
#
# - Do NOT comment or remove an option to disable it.
# - Use forward slashes for all file and directory paths.
#

#### General ###############################################
#
# - Reload the configuration file everytime nxTools runs.
# - By setting this to "True", you do not have to restart ioFTPD after config changes.
# - By setting this to "False", the script will perform much faster.
#
set misc(ReloadConfig)  False
#
# - Debug mode logs all environment variables, useful for reporting problems.
# - Use UTC time for dated directories, otherwise local time is used.
#
set misc(DebugMode)     False
set misc(UtcTime)       True
#
# - Path to the data directory, containing nxTools data files.
# - Path to the text directory, containing output templates.
#
set misc(DataPath)      "../scripts/nxTools/data"
set misc(Templates)     "../scripts/nxTools/text"
#
# - Flags given to siteops and group admins.
#
set misc(SiteopFlags)   "M"
set misc(GAdminFlags)   "G"
#
# - User name to open for scheduled functions.
# - VFS file to mount for scheduled functions.
#
set misc(MountUser)     "ioFTPD"
set misc(MountFile)     "../etc/default.vfs"
#
# - Default number of results for SITE DUPE/FDUPE/NEW/NUKES/UNNUKES/SEARCH.
#
set misc(DefaultLimit)  10

#### VFS Settings ##########################################
#
# - The default owner for files and directories. Format: <uid> <gid>
# - The default chmod for files and directories.
# - These settings must be the same as the default attributes in the
#   ioFTPD.ini under the [VFS] section.
#
set misc(DirOwner)      "0 0"
set misc(FileOwner)     "0 0"
set misc(DirChmod)      755
set misc(FileChmod)     755

#### Log Locations #########################################
#
# - Location of ioFTPD log files.
#
set log(Error)          "../logs/error.log"
set log(SysOp)          "../logs/sysop.log"

#### Log File Rotation #####################################
#
# - Frequency to rotate log files: daily/weekly/monthly.
# - Minimum log size before rotation in megabytes; you may use
#   "0" to rotate the logs disregarding their size.
# - List of log files to rotate, remove entries to disable.
#
set log(Frequency)      "weekly"
set log(MinimumSize)    0
set log(ArchivePath)    "../logs/Archive"
set log(RotateList) {
  {../logs/ioFTPD.log}
  {../logs/xferlog}
}

#### One Liners ############################################
#
# - Number of recent one-lines to display on login.
#
set misc(OneLines)      3

#### Hide Settings #########################################
#
# - Hide users, groups, and paths from SITE WHO (case sensitive).
#
set hide(UserNames)     "SITEBOT BNCUSER ioNiNJA"
set hide(GroupNames)    "BOT"
set hide(Paths) {
  {/!ADMIN/*}
  {/GROUPS/*}
}

#### Site Approve ##########################################
#
# - Check if the directory is approved when it is created.
# - The flags required to approve releases.
# - Approve tag format, cookies: %(user) and %(group).
#
set approve(CheckMkd)   False
set approve(Flags)      "M"
set approve(DirTag)     {[Approved.By.%(user)@%(group)]}

#### Site Close ############################################
#
# - Kick non-exempted users when the site is closed.
# - Allows certain users, groups, or flags to login when site is closed.
#
set close(KickOnClose)  True
set close(UserNames)    "ioFTPD SITEBOT"
set close(GroupNames)   "STAFF BOT"
set close(Flags)        "M1"

#### Site Nuke #############################################
#
# - Default amount to take away on empty nukes in megabytes.
# - Max multiplier a nuker can use.
# - The group nuke flag, allow release groups to nuke their own releases.
#
set nuke(EmptyNuke)     25
set nuke(MultiMax)      20
set nuke(GroupFlag)     "G"
#
# - Prefix for nuked directories (no wildcards or cookies).
# - Nuke info tag format, cookies: %(user), %(group), %(multi), and %(reason).
#
set nuke(Prefix)        {[NUKED]-}
set nuke(InfoTag)       {[NUKED]-%(multi)xBy%(user)@%(group)-For%(reason))}
#
# - Virtual paths that cannot be nuked (case sensitive).
#
set nuke(NoPaths) {
  {/!ADMIN/*}
}

#### Site Pre ##############################################
#
# - Path to the pre configuration file.
# - The private path (chattr +h) settings for newly added pre paths via SITE EDITPRE ADDPATH.
#
set pre(ConfigFile)     "../scripts/nxTools/nxPre.cfg"
set pre(PrivatePath)    "=%(group) =STAFF M1"
#
# - Files to ignore when calculating the file count and size of a release.
#
set pre(IgnoreFiles)    {.* *.asc *.bad *.bmp *.cue *.diz *.gif *.jpeg *.jpg *.m3u *.missing *.nfo *.sfv *.url *.mkv *.srt *.png *.txt}
#
# - The user ID to chown all files too, to hide an affil's identity (to disable, set to "").
# - Set the time of all pre'd files and directories to the pre time.
#
set pre(ChownUserId)    ""
set pre(TouchTimes)     True
#
# - Give credits to the pre'r (user who issues the SITE PRE).
# - Give credits and stats to uploaders of the release.
# - These options only reward the pre groups with credits/stats of releases they actually pre.
# - They are only effective if you "disable" credits and stats in the groups dir, for example:
#
#   [Sections]
#   GROUPS  = 9 /GROUPS/*
#
#   [VFS]
#   NoStats = /GROUPS/* *
#   NoStats = /* !*
#
#   SITE CHANGE * RATIO 0 9
#
# - Assign an unused credit section to the groups dir and give all users leech in it.
# - Don't forget to set the ratio for section 9 in Default.User to leech as well.
#
set pre(PreUser)        True
set pre(Uploaders)      True

#### Site Request ##########################################
#
# - Limit requests for users and groups. The first matching target is used,
#   so it's important that the default limit is at the end of the list.
# - Use -1 for unlimited requests and 0 to disable requests.
# - Format: <target> <group limit> <user limit> <time limit> <time period>
#   Target      - Request limit target. Group names are prefixed with an equal
#                 sign, "*" for all users, and no prefix for user names.
#   Group Limit - Number of requests allowed for all group users.
#   User Limit  - Number of requests allowed per user.
#   Time Limit  - Number of requests allowed per user in the given time period.
#   Time Period - Number of days that for time based request limit.
#
set req(Limits) {
  {{=STAFF} -1 -1 -1 -1}
  {{=MEV} -1 -1 -1 -1}
  {{=EGEN} -1 2 2 7}
  {{=DOS} -1 2 2 7}
  {{*} 20 2 1 7}
}
#
# - Maximum age a filled request is allowed before its wiped, in days.
# - Requests must be proper release names (e.g. release.name-group).
# - Physical path to the request directory.
# - The request and filled tag format, cookies: %(request).
#
set req(MaximumAge)     12
set req(ReleaseNames)   True
set req(RequestPath)    "/REQUESTS/*"
set req(RequestTag)     {[REQ]-%(request)}
set req(FilledTag)      {[FILLED]-%(request)}

#### Site Reset User #######################################
#
# - Reset user's credits as well as stats.
#
set reset(Credits)      False

#### Site Rules ############################################
#
# - Path to rules configuration file.
# - Width of the %(rules) cookie in the message files.
#
set rules(ConfigFile)   "../scripts/nxTools/nxRules.cfg"
set rules(LineWidth)    56

#### Site Wipe #############################################
#
# - Virtual paths that cannot be wiped (case sensitive).
# - Require the "-r" switch to recursively wipe a directory.
#
set wipe(NoPaths) {
  {/!ADMIN/*}
}
set wipe(RecurseSwitch) True

#### Dupe Checking #########################################
#
# - Enable dupe checking for files and directories.
# - Add pre'd releases to the dupe directory log.
#
set dupe(CheckDirs)     True
set dupe(CheckFiles)    False
set dupe(AddOnPre)      True
#
# - Required number of alphanumeric characters when wildcards are used.
# - Files and directories to ignore (case insensitive).
#
set dupe(AlphaNumChars) 3
set dupe(IgnoreDirs)    {*/[0-9][0-9][0-9][0-9] */cd[0-9] */dis[ck][0-9] */dvd[0-9] */codec */cover */covers */extra */extras */sample */sub */subs */vobsub */vobsubs */Sample */Subs */Screens */Proof}
set dupe(IgnoreFiles)   {.* *.asc *.bad *.bmp *.cue *.diz *.gif *.jpeg *.jpg *.m3u *.missing *.nfo *.sfv *.url *.srt *.log *.mkv *.png *.txt}
#
# - Checking exempts define paths not to check for duplicates in (case sensitive).
# - Logging exempts define paths not to log into the dupe database (case sensitive).
#
set dupe(CheckExempts) {
  {/!ADMIN/*}
  {/GROUPS/*}
  {/REQUESTS/*}
}
set dupe(LoggingExempts) {
  {/!ADMIN/*}
  {/GROUPS/*}
}

#### Dupe Cleaning #########################################
#
# - Maximum age in days for files and directories in the dupe log (0 to disable).
# - Files are removed from the file log once they exceed the maximum age.
# - However, directories are only removed if they no longer exist and exceed the maximum age.
#
set dupe(CleanDirs)     12
set dupe(CleanFiles)    12

#### Dupe Log Rebuild ######################################
#
# - Recreates the file and/or directory dupe log by searching the defined paths.
# - Format: <virtual path> <physical path> <directories> <files>
#   Virtual Path    - Virtual path to rebuild files and directories from.
#   Physical Path   - The virtual path's physical location.
#   Log Directories - Update the directory database from this path.
#   Log Files       - Update the file database from this path.
#
set dupe(RebuildPaths) {
  {{/0DAY/} {C:/ioFTPD/FTP-ROOT-DIR/0DAY/} True True}
  {{/APPS/} {C:/ioFTPD/FTP-ROOT-DIR/APPS/} True True}
  {{/GAMES/} {C:/ioFTPD/FTP-ROOT-DIR/GAMES/} True True}
  {{/KIDS/} {C:/ioFTPD/FTP-ROOT-DIR/KIDS/} True True}
  {{/MOVIES/} {C:/ioFTPD/FTP-ROOT-DIR/MOVIES/} True True}
  {{/UHD/} {C:/ioFTPD/FTP-ROOT-DIR/UHD/} True True}
  {{/TV/} {C:/ioFTPD/FTP-ROOT-DIR/TV/} True True}
  {{/TV-KIDS/} {C:/ioFTPD/FTP-ROOT-DIR/TV-KIDS/} True True}
  {{/FLAC/} {C:/ioFTPD/FTP-ROOT-DIR/FLAC/} True True}
}
#
# - Files and directories to ignore when searching the rebuild paths.
# - The "dupe(LoggingExempts)", "dupe(IgnoreDirs)", and "dupe(IgnoreFiles)"
#   lists are also checked before adding entries to the dupe database.
#
set dupe(RebuildIgnore) {
  {\[*\] - ( * ) - \[*\]}
  {\[*complete*\]}
  {\[imdb\] * \[imdb\]}
  (incomplete)-*
  {\[sorted\]}
  {\[sorted.by.*\]}
  !sorted
  !sorted.by.*
}

#### Force Settings ########################################
#
# - Paths to exempt from force checks (case insensitive).
#
set force(Exempts)      {*/codec */cover */covers */extra */sample */sub */subs */extras */vobsub */vobsubs */Proof */Subs */Sample */Screens}
#
# - Force NFO or SFV files first.
# - Paths to force files on (case sensitive).
#
set force(NfoFirst)     False
set force(SfvFirst)     False
set force(FilePaths)    {*/APPS */GAMES */TV */MOVIES */UHD */KIDS */TV-KIDS */MUSIC */FLAC */EBOOKS */AUDiOBOOKS}
#
# - Force sample files first.
# - Paths to force samples on (case sensitive).
#
set force(SampleFirst)  False
set force(SampleExts)   {*.avi *.jpg *.jpeg *.mpeg *.mpg *.png *.vob *.mkv}
set force(SamplePaths)  {*/KIDS */TV-KIDS */TV */MOVIES */UHD */XXX */X264 */X265 */BLURAY}

#### Latest Links ##########################################
#
# - Path to create the latest pre and race symlinks.
# - Maximum number of pre and race symlinks (0 to disable).
#
set latest(SymPath)     {C:/ioFTPD/FTP-ROOT-DIR/iNCOMiNG/}
set latest(PreLinks)    5
set latest(RaceLinks)   5
#
# - Style for the latest pre and race tag, cookies: %(section) and %(release).
# - Maximum length of the %(release) cookie (0 for no limit).
#
set latest(PreTag)      {[PRE]-%(release)}
set latest(RaceTag)     {[RACE]-%(release)}
set latest(MaxLength)   50
#
# - Directories to ignore to from symlink creation (case insensitive).
# - Paths to exempt from symlink creation, for race symlinks only (case sensitive).
#
set latest(Ignores) {*/cd[0-9] */dis[ck][0-9] */dvd[0-9] */codec */cover */covers */extra */extras */sample */Sample */Subs */Proof */sub */subs */vobsub */vobsubs */Screens}
set latest(Exempts) {
  {/!ADMIN/*}
  {/GROUPS/*}
  {/REQUESTS/*}
}

#### New Date ##############################################
#
# - Automatically create dated directories and section symlinks.
# - Note: There must be a "Default" area, other areas are optional.
#
# - Format : {<area> <description> <virtual path> <physical path> <symlink path> <log event> <day offset> <user id> <group id> <chmod>}
#   Area          - Area where the dated directory is created.
#   Description   - Description of the newdate change.
#   Virtual Path  - Virtual path to create the directory, may contain date cookies.
#   Physical Path - The virtual path's physical location, may contain date cookies.
#   Symlink Path  - Location to create the symlink, use {} to disable symlink creation.
#   Log Event     - Log and announce newdate change.
#   Day Offset    - Offset of the current day (-1 for yesterday, 0 for today, 1 for tomorrow, etc.).
#   User Id       - The user id to use for the created directory.
#   Group Id      - The group id to use for the created directory.
#   Chmod         - The chmod value to use for the created directory.
#
# - Date cookies:
#   %% - Percent sign    (%)
#   %d - Day             (1-31)
#   %w - Week            (1-53)
#   %m - Month           (1-12)
#   %y - Year            (04)
#   %D - Day w/padding   (01-31)
#   %W - Week w/padding  (01-53)
#   %M - Month w/padding (01-12)
#   %Y - Year w/century  (2004)
#
set newdate(Default) {
    {0DAY  "Newdate 0DAY"  "/0DAY/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/0DAY/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/!Today_0DAYS"  True 0 0 0 755}
    {APPS  "Newdate APPS"  "/APPS/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/APPS/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/!Today_APPS"   True 0 0 0 755}
    {GAMES "Newdate GAMES" "/GAMES/%Y-%M-%D" "C:/ioFTPD/FTP-ROOT-DIR/GAMES/%Y-%M-%D" "C:/ioFTPD/FTP-ROOT-DIR/!Today_GAMES"  True 0 0 0 755}
    {FLAC  "Newdate FLAC"  "/FLAC/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/FLAC/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/!Today_FLAC"   True 0 0 0 755}
}

#
# - Rather then closing the previous date directories at the same time as creating the next days,
#   you can schedule a separate newdate area to close the directories at a later time.
# - Scheduler: nxCloseDate = 0 1 * * TCL ..\scripts\nxTools\nxUtilities.tcl NEWDATE CloseDate
#
set newdate(CloseDate) {
    {0DAY  "CloseDate 0DAY"  "/0DAY/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/0DAY/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/!Yesterday_0DAYS"  True -1 0 0 755}
    {APPS  "CloseDate APPS"  "/APPS/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/APPS/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/!Yesterday_APPS"   True -1 0 0 755}
    {GAMES "CloseDate GAMES" "/GAMES/%Y-%M-%D" "C:/ioFTPD/FTP-ROOT-DIR/GAMES/%Y-%M-%D" "C:/ioFTPD/FTP-ROOT-DIR/!Yesterday_GAMES"  True -1 0 0 755}
    {FLAC  "CloseDate FLAC"  "/FLAC/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/FLAC/%Y-%M-%D"  "C:/ioFTPD/FTP-ROOT-DIR/!Yesterday_FLAC"   True -1 0 0 755}
}

#### Weekly Credits ########################################
#
# - Path to the weekly credits configuration file.
# - This contents of this file is managed by the SITE WEEKLY command.
# - Split the credits evenly amongst the users in a group; otherwise,
#   each user in that group will receive the full amount of credits.
#
set weekly(ConfigFile)  "../scripts/nxTools/nxWeekly.cfg"
set weekly(SplitGroup)  False

################################################################################
