#*********************************************#
#*                  CONFIG                   *# 
#* Note that most matching is done in regexp *#
#* Don't know what it means? use google!     *#
#* or use your eyes and look at the defaults *# 
#*                                           *# 
#*    DO NOT COMMENT OR or REMOVE anything   *# 
#*********************************************#
## Load the script cfg and theme in init.tcl? 1 = yes 0=no
## This will speed things up a bit but you have to restart ioftpd
## in order for changes to take effect. I recoomend you leave this
## to 0 when setting up the site and then change it to 1 when done
## and read the readme to see what lines to add to init.tcl
set ioNJ(load_cfg_startup)  1

# SITE IRC connection details. Access is controlled by the "irc" entry in
# [FTP_SITE_Permissions] in system/ioFTPD.ini.
set ioNJ(irc_host)           "irc.example.net"
set ioNJ(irc_port)           "+6697"
set ioNJ(irc_password)       ""
set ioNJ(irc_fingerprint)    ""
set ioNJ(irc_blowfish)       {#staff #pre}

####################################################################################################
################# Checks that are done before something is created or uploaded #####################
####################################################################################################

# Use Xdupe (turn off all the other xdupe scripts 0=disabled) 
set ioNJ(xdupe)  0

# Lock Completed Releases, this means no upload or deletion of files from completed releases.
set ioNJ(complete_lock)  0
# if the user has any of these flags the lock will be ignored, and you can modify locked releases, separated by |, "" for no exemptions.
set ioNJ(lock_ignore_flags)  "M"

# Should new sfv files be denied in dir? If not, the new sfv will be allowed but not checked same for nfo
# 1=Deny (DEFAULT), 0= allow
set ioNJ(deny_double_sfv)	0
set ioNJ(deny_double_nfo)	0

# Force sfv to be uploaded first, before accepting any files 1= Enable, 0 =disable
set ioNJ(force_sfv_first)	0

# if Force sfv is turned on theese dirs will be excluded, sfv wont be forced first in here, "" to disable
set ioNJ(noforce_sfv_dirs)	{/REQUESTS/|/Archive/}

#This checks if the file we want to uplaod is in sfv, or excluded. Otherwise denies it. 1=enable 0=disable
# Recommended to leave it on to lower bandwidth use.
set ioNJ(pf_verify_file_with_sfv) 1

## Zip Filename check, matches x number of letters in filename to zipfiles already uploaded. If it doesn't match, it's deleted.
set ioNJ(zip_fname_check)	1

## if Zip Filename Check is enabled, how many letters should we match?
set ioNJ(zip_fname_check_letters)	3

# Here you can ban and allow files for upload. syntax is 
# Syntax:
# {1/0 where "1" is only allow, and "0" is ban} {pwd} {files}
# {1} {/MP3/} {\.mp3$|\.nfo$|\.jpg|\.sfv} would allow mp3,nfo,jpg and sfv in /MP3/
# {0} {/MP3/} {\.rar} would ban .rar in /MP3/
# To disable set this to ""
set ioNJ(banned_allowed_files) {
{0} {/} {^5a\.nfo$|^aks\.nfo$|^atl\.nfo$|^atlvcd\.nfo$|^bar\.nfo$|^cas\-pre\.jpg$|^cmt\.nfo$|^coke\.nfo$|^dim\.nfo$|^dkz\.nfo$|^echobase\.nfo$|^firesite\.nfo$|^fireslut\.nfo$|^ifk\.nfo$|^lips\.nfo$|^magfields\.nfo$|^mfmfmfmf\.nfo$|^mm\.nfo$|^mob\.nfo$|^mod\.nfo$|^pbox\.nfo$|^ph\.nfo$|^pike\.nfo$|^pre\.nfo$|^release\.nfo$|^sexy\.nfo$|^tf\.nfo$|^twh\.nfo$|^valhalla\.nfo$|^zn\.nfo$|^imdb\.nfo$|^vdrlake\.nfo$|^dm\.nfo$|^nud\.nfo$|^thecasino\.nfo$|^dtsiso21\.jpg$|^dagger\.jpg$}
{1} {/} {\.flac$|\.iso$|\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.m2v$|\.mpg$|\.mpeg$|\.zip$|\.mp[2|3]$|\.vob$|\.avi$|\.jpg$|\.nfo$|\.diz$|\.sfv$|\.mpeg$|\.mkv$|\.wmv$|\.mpg$|\.mpeg$|\.cue$|\.srt$|\.mkv$|\.srr$|\.png$|\.json$|\.m3u$|\.png$|\.txt$}
{1} {/MP3/} {\.mp[2|3]$|\.jpg$|\.cue$|\.jpeg$|\.nfo$|\.sfv$|\.txt$|\.png$}
{1} {/AUDIOBOOK/} {\.mp[2|3]$|\.jpg$|\.cue$|\.jpeg$|\.nfo$|\.sfv$|\.m3u$|\.json$|\.srr$|\.png$}
{1} {/MUSIC/} {\.flac$|\.jpg$|\.cue$|\.jpeg$|\.nfo$|\.sfv$|\.m3u$|\.log$|\.txt$|\.png$}
{1} {/FLAC/} {\.flac$|\.jpg$|\.cue$|\.jpeg$|\.nfo$|\.sfv$|\.m3u$|\.log$|\.txt$|\.png$}
{1} {/0DAY/} {\.zip$|\.nfo$\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$}
{1} {/APPS/} {\.zip$|\.nfo$\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.iso$}
{1} {/GAMES/} {\.nfo$\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.iso$}
{1} {/MV/} {\.avi$|\.sfv$|\.nfo$|\.mkv$|\.mp4$|\.vob$|\.m2v$|\.mpg$|\.mpeg$|\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.jpg$|\.png$}
{1} {/UHD/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.vob|\.jpg$|\.mkv$|\.png$|\.srt$}
{1} {/TV/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.mkv|\.jpg$|\.srt$|\.srr$|\.png$}
{1} {/TV-HD/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.mkv|\.jpg$|\.srt$|\.srr$|\.png$}
{1} {/ANIME/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.mkv|\.jpg$|\.srt$|\.srr$|\.png$}
{1} {/TV-SD/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.mkv|\.jpg$|\.srt$|\.srr$|\.png$}
{1} {/KIDS/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.mkv|\.jpg$|\.srt$|\.png$}
{1} {/TV-KIDS/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.mkv|\.jpg$|\.srt$|\.srr$|\.png$}
{1} {/MOVIES/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.avi$|\.jpg$|\.srt$|\.mkv$|\.png$}
{1} {/X264/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.avi$|\.jpg$|\.srt$|\.mkv$|\.png$}
{1} {/X265/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.avi$|\.jpg$|\.srt$|\.mkv$|\.png$}
{1} {/BLURAY/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.avi$|\.jpg$|\.srt$|\.mkv$|\.png$}
{1} {/DVDR/} {\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.nfo$|\.sfv$|\.avi$|\.jpg$|\.srt$|\.mkv$|\.png$}
}

#paths to skip from PREDiR checking
set ioNJ(pd_skip_sections)	{/REQUESTS/}

# Here you can ban and allow dirs for upload.
# Syntax:
# {1/0 where "1" is only allow, and "0" is ban} {pwd} {files}
# {0} {/} {/sample} would bad samples on the entire site.
# To disable set this to ""
set ioNJ(banned_allowed_dirs) {
{0} {/MP3/} {\-BP$|\-MP3$}
{0} {/EBOOK/} {comic}
{0} {/MP3/} {\-RNS$}
{0} {/} {^NUKED|^\[INCOMPLETE\]\-}
}

# This bans creation of dirs within subdirs. 1 active, 0 disabled
set ioNJ(use_subdir_ban) 0

#############################

## Virtual path to pre/group dirs.
set ioNJ(group_dirs)	{/GROUPS/}

## Theese dirs will have no symlink sorting.
set ioNJ(audio_nocheck_dirs) {/REQUESTS/|/SPEEDTEST/}

## Files allowed to be uploaded without crccheck
set ioNJ(skipfiles) {\.txt$|\.html$|\.m3u$|\.jpg$|\.itcl$|\.tcl$|\.lpf$|\.lpo$|\.smil$|\.cue$|\.diz$|\.ncc$|\.srt$|\.log$|\.srr$|\.json$|\.png$|\.jpeg$}

#Max size in kb for a file to be skipped? If over this size it will not be permitted to not be in sfv. Think it's in KB?
set ioNJ(skipfiles_size) {20000}

## Define dirs that should be handled as subdirs, use ? or .* or .+? for wildcard.
set ioNJ(notparent) {^screens|^sample$|^vobs$|^covers$|^cover$|^codec$|^subs$|^ac3$|^codecs$|^cd[0-9]{1,2}$|^dis[ck][0-9]{1,2}$|^part[0-9]{1,2}$|^proof$}

## if SFV is in root which dirs will not be allowed to be created?
set ioNJ(notparent_sfv_in_root) {^cd[0-9]{1,2}$|^dis[ck][0-9]{1,2}$|^part[0-9]{1,2}$}

## Define dirs that should will be allowed o be created if sfv in root.
set ioNJ(allowed_subdirs) {^screens|^sample$|^vobs$|^covers$|^cover$|^codec$|^subs$|^ac3$|^codecs$|^proof$|^srt$}

## Dirs that are not checked in any kind of way by the zipscript. These dirs will be totally ignored.
set ioNJ(skipdirs) {/REQUESTS/}

## Allow SITE RESCAN inside skipdirs/nocheck areas.
set ioNJ(rescan_nocheck_dirs_allowed) 1

## Default SITE RESCAN to QUICK. Use THIS/ALL FULL to verify every file.
set ioNJ(rescan_default_to_quick) 1

## Use SRR as a fallback when no external SFV exists. An external SFV always
## has priority and uses the normal CRC rescan path.
set ioNJ(rescan_use_srr) 1
set ioNJ(rescan_srr_required) 0
## Require the original RAR volumes described by SRR. Leave disabled for
## unpacked releases where those volumes have intentionally been removed.
set ioNJ(rescan_srr_require_volumes) 1
set ioNJ(rescan_srr_tool) {C:/ioFTPD/scripts/ioNiNJA/MiSC/rescene.exe}

## QUICK metadata is stored outside ioFTPD chattr fields to avoid attribute
## size and encoding limits on releases containing many files.
set ioNJ(rescan_cache_dir) {../scripts/ioNiNJA/cache/rescan}

## API clients such as FluxFTP often execute SITE commands on a new session
## whose PWD is /. Refuse root rescans unless an explicit virtual path is sent.
set ioNJ(rescan_root_requires_path) 1

## Missing tag for files in sfv that havn't been uploaded
set ioNJ(missingtag) ".missing"

## Short Site Name
set ioNJ(ssn) "ioNiNJA"

## Want to rename bad crc files to bad? if set to 0 the file will be deleted instead. (Works! but dunno why tha hell you would use it)
set ioNJ(mark_file_as_bad)		0

## Write .message file on complete in group_dirs? if this is set to 0 no racestats will be written in groupdirs.
set ioNJ(write_complete_message_in_group_dirs)	1

## Hide name of uploaders in the .message-file in group-dirs? Setting this to
## 1 will convert the username to the groupname of the user. This will not
## change owner of files since it can create problems with permissions. Have the pre
## script change that instead.
set ioNJ(hide_group_uploaders)	 1
set ioNJ(hide_uname)		"NoUSER"
set ioNJ(hide_gname)		"NoGROUP"

##
# Change the groupname of ALL uploaded files and Dirs? this could be used to hide the groupsnames for all users. set to "" to disable
# This is gid, so the gid specified is the one we will change the dir to. THIS GID NEEDS TO EXIST.
set ioNJ(hide_gname_real)	"1"

## You may also choose a custom message to be put into the .message file in
## the group dirs instead of racestats. Define your filename here, 
## "" to disable. <BROKEN>
set ioNJ(custom_group_dirs_complete_message)	"../scripts/ioNiNJA/MiSC/group_dir_message.nfo"

## Create missing file on sfv upload?
set ioNJ(create_missing_files)	        1

## Defines type of status bar (see below for the format of the status bar)
## 0 = Directory
## 1 = File
set ioNJ(status_bar_type)		1

## These file types are check for media info if uploaded in /sample/ dir, and only theese files will be allowed
## the rest will be deleted.
set ioNJ(samples)		{\.avi$|\.mpg$|\.mpeg$|\.divx$|\.vob$|\.mkv$|\.rm$|\.wmv$|\.qt$|\.mp4$|\.m2v$|\.ts$}

## Writes a plain sfv - removing all comments etc
set ioNJ(sfv_cleanup)		      		0

## Convert all letters to lowercase in sfv
set ioNJ(sfv_cleanup_lowercase)     	0

## cleanup nfos 1 = yes 0 = no
set ioNJ(fix_nfo)		   		        0

## do not create a symlink where no nfo exists i theese dirs
set ioNJ(no_sym_nfo)		{/0DAY/|/REQUESTS/}

# Dirs that wont have a no_sfv symlink created where files are upped and no sfv is present, set to "/" to disable
set ioNJ(nosym_sfv_dirs)	{/0DAY/|/REQUESTS/}

## These dirs are forced to have samples in them, set to "" to disable
set ioNJ(sym_sample)	""

## Turn on or off the samplecheck 1=on 0=off
set ioNJ(sample_check)		1

## No diz files required in zipfiles in theese dirs in order for it to be counted as complete
## seperated by |
set ioNJ(no_diz_required)	{/GAMES/}

## If you want incompelte links in a dir for an overlook into whats incomplete
## set this to the pwd where you want them to be cretated. (NEEDS TO EXIST)
## set to "" to disable
set ioNJ(sym_inc_dir)	{C:/ioFTPD/FTP-ROOT-DIR/iNCOMiNG/}

## This will rename the group of the dir to the status of the release
## NOTE!! Need to run "site addgrpstat" before running this. NOTE!!
## AVALIBLE: INCOMPLETE COMPLETE NO_NFO NO_SAMPLE OVERSIZED NO_SFV NO_DIZ EMPTY
## set to 0 to disable, 1 to enable
set ioNJ(group_status)	0

######################### FLAC AND MP3 GROUP GENRE RENAME #######################################
## This will rename the group of the dir to the genre of the release
## NOTE!! You need to run "site addgroups" before running this. NOTE!!
## set to 0 to disable, 1 to enable
## This will override the group_status setting, but only once the release is complete.
## Only works with predefined genres, not homemade ones. 
set ioNJ(group_genre)	0

#Should folder.jpg be hidden? Still works with xbmc but doesn't show up in ftpd. 1=yes 0=no
set ioNJ(hide_folder_pic) 1

##================== Sorting Settings ============
#
# Strip "The" infront of names? 1=yes 0=no

set ioNJ(strip_the) 0

# set this to "" to disable.
# Some groups use a - in their name making the script think that only the
# last part is the groupname TEG-TV -> TV this setting lets you specify grpnames
# for sorting..
# USAGE: <regexp>:<grpname used for sorting>
set ioNJ(force_groupnames) {
{\-TEG\-VCD$} {TEG-VCD}
{\-TEG\-TV$} {TEG-TV}
{\-KINESIS$} {KiNESiS}
{\-PTiNTERNAL$} {PTi}
{\-PTi_iNTERNAL$} {PTi}
{\-Myth$} {MYTH}
}

##================== MP3 Settings ============
# Theese dirs will be checked against the bans and allowed seperate by |
set ioNJ(mp3_path_check) {/MP3/|/AUDIOBOOKS/}

# It is a good idea to prevent crap from filling your hds. Ignore these
# settings if you do not plan to restrict your uploads.
# Br check has been removed it's pretty useless nowdays
# 199[0-9]|200[0-7] will allow 1990-2007, you get the point if not
# read up on regexp! it's useful
set ioNJ(allowed_years)		""
set ioNJ(banned_genres)		""
set ioNJ(allowed_genres)	""

## Want to del banned releases? Set to "" to disable (BE CAREFUL)
## ie /MP3/2003-01-02/release/ is /MP3/.*/.*/, paths are separated by |. regexp matching.
## {/MP3/.*/.*/} would delete all file uploaded in /MP3/*/*/
set ioNJ(del_banned_release_path)    ""


# ioNJ(audio_genre_check), 0 = disabled, 1 = only allowed genres will be allowed, 2 = banned genres will not be allowed
#
set ioNJ(audio_year_check)		0
set ioNJ(audio_genre_check)		0
set ioNJ(audio_year_warn)		0
set ioNJ(audio_genre_warn)		0

# Create m3u file on sfv upload for audio release?
#
set ioNJ(create_m3u)			1

##================== FLAC Settings ============
# Theese dirs will be checked against the bans and allowed seperate by |
set ioNJ(flac_path_check) {/MUSiC/|/FLAC/}

# It is a good idea to prevent crap from filling your hds. Ignore these
# settings if you do not plan to restrict your uploads.
# Br check has been removed it's pretty useless nowdays
# 199[0-9]|200[0-7] will allow 1990-2007, you get the point if not
# read up on regexp! it's useful
set ioNJ(flac_allowed_years)	""
set ioNJ(flac_banned_genres)	""
set ioNJ(flac_allowed_genres)	""

## Want to del banned releases? Set to "" to disable (BE CAREFUL)
## ie /FLAC/2003-01-02/release/ is /FLAC/.*/.*/, paths are separated by |. regexp matching.
## {/FLAC/.*/.*/} would delete all file uploaded in /MP3/*/*/
set ioNJ(flac_del_banned_release_path)    ""


# ioNJ(audio_genre_check), 0 = disabled, 1 = only allowed genres will be allowed, 2 = banned genres will not be allowed
#
set ioNJ(flac_audio_year_check)		0
set ioNJ(flac_audio_genre_check)	0
set ioNJ(flac_audio_year_warn)		0
set ioNJ(flac_audio_genre_warn)		0

# Create m3u file on sfv upload for audio release?
#
set ioNJ(flac_create_m3u)			0


# Race/Announce Settings
# ======================
#
# New leader needs this number of files more than current leader to be
# counted as "newleader" (reduces "spam" in channel)
#
set ioNJ(newleader_files_ahead)	3
#
# If minium is not reached - announcement will be disabled. The number
# entered represents the minimum number of files in the release.
#
set ioNJ(min_newracer_files)	2
set ioNJ(min_newleader_files)	5
set ioNJ(min_update_files)	2
set ioNJ(min_halfway_files)	10
#
# If minium is not reached - announcement will be disabled. The number
# entered represents the minimum number of (estimated) MB in the release.
#
set ioNJ(min_newracer_size)	10
set ioNJ(min_newleader_size)	1
set ioNJ(min_update_size)	1
set ioNJ(min_halfway_size)	10
#
# Limit number of users/groups to display in stats on irc. if you want to remove it do it in the bot not here.
# minimum number is 1
set ioNJ(max_users_in_top)	5
set ioNJ(max_groups_in_top)	5
#
# Enable/disable norace announces (will be used instead of normal announces,
# if there is only one user in race otherwise regular announce is used)
#
set ioNJ(announce_norace)		0


# Output variables used on site (.message file)
# =============================================
#
#
# Show complete message on CWD
#
set ioNJ(show_complete_message) 1

#
# should we show this in complete message
#
set ioNJ(show_user_info) 1
set ioNJ(show_group_info) 1

#
# Speedetest dir (will announce to irc)
#
set ioNJ(speedtest_dir) {/SPEEDTEST/}

#
# Theme File
# Name of the theme file used for output to ftpd needs to be in ..\scripts\ioNiNJA\Themes\

set ioNJ(themefile) "PZS-NG.theme"

#
# Userfile and vfs file to use if none is loaded, BOTH NEED TO EXiST
#
set ioNJ(MountUser) "ioFTPD"
set ioNJ(MountFile) "../etc/default.vfs"

#
# Symlink cleaner, define pwds to clean for symlinks that doesn't work anymore.
# add under [FTP_Custom_Commands]
# symclean       = TCL ..\scripts\ioNiNJA\ioNiNJA.itcl SYMCLEAN
#
# if you want it to be exectuted at certain times  each day
# add under 
# symcleaner 	= 0 0 * * TCL ..\scripts\ioNiNJA\ioNiNJA.itcl SYMCLEAN
#
set ioNJ(cleanup_dirs) {
C:/ioFTPD/FTP-ROOT-DIR/_SORTED/
}

# EXEC ON COMPLETE
# set to "" to disable
# First is pwd to match and second is what to execute.
#{/XXX/|/TV/|/MOViES/|/CiNEMA/|/x264/|/XViD/} {TCL ../scripts/ioninja/plugins/unpack_complete.itcl $args}
set ioNJ(exec_on_complete) {
{/MP3/} {TCL ../scripts/ioNiNJA/plugins/mp3.itcl $args}
{/FLAC/|/MUSiC/} {TCL ../scripts/ioNiNJA/plugins/FLAC.itcl $args}
}

# EXEC ON NFO UPLOAD
# set to "" to disable
set ioNJ(exec_on_nfo) {
{/XXX/} {TCL ../scripts/ioNiNJA/plugins/xxx.itcl $args}
{/MV/|/MViD/} {TCL ../scripts/ioNiNJA/plugins/music_video.itcl $args}
{/TV/|/TV-KiDS/} {TCL ../scripts/ioNiNJA/plugins/ioTV.itcl $args}
{/MOViES/|/DVDR/|/UHD/|/XViD/|/x264/} {TCL ../scripts/ioninja/plugins/imdb.itcl $args}
}


# Make Sfv Settings (site makesfv) woorks recursive, BE CAREFUL USING IT
## Files to add to the new SFV
set ioNJ(makesfv_files) {\.mp3$|\.r[a|0-9][r|0-9]$|\.0[0-9][0-9]$|\.rar[0-9][0-9][0-9]$|\.avi$|\.mkv$|\.m2v$|\.xvid$|\.wmv$|\.mp4$}
# Dirs not to create sfvs in
set ioNJ(makesfv_skipdirs) {^sample$|^vobs$|^covers$|^cover$|^codec$|^subs$|^ac3$|^codecs$}

##################################### CURL PROXY ###########################################
# Curl proxy, some people wanted to use a proxy server for lookups. This enables it
# ALL CURL COMMUNICATION WILL PASS THROUGH THE PROXY, if its down, the script will fail.
############################################################################################

# Type of proxy: 0=disable (all use of proxy server) 1=socks4 2=socks4a 3=socks5-hostname 4=http-proxy 5=socks5
# No errors will be reported, it will just fail to get any requests.
set ioNJ(curl_proxy_type) 0

#Use proxy server for curl: ip:port
set ioNJ(curl_proxy) ""

#Password and username for the proxy used: username:password 
# This only works with HTTP-PROXY ("" to disable or not to use authentication if HTTP proxy is enabled)
set ioNJ(curl_user_pass) ""

################################## End of curl config #########################################
# END OF CONFIG

set ioNJ(VERLONG) "v1.0b11 Release 2026-08-20"
set ioNJ(VER)     "v1.0b11"
